<app-home></app-home>
<p>upload works!</p>


<form class="form-horizontal" [formGroup]="uploadForm">
	<div style="padding-top: 10px">
		<label>Test Case Name</label> <input type="text"
			formControlName="testCase" />
	</div>
	<div style="padding-top: 10px">
		<label>Template Name</label> <select formControlName="template"
			name="template">
			<option selected="" value="">Select One</option>
			<option [ngValue]="templt._key" *ngFor="let templt of templateList">
			{{templt._key}}</option>
		</select>

	</div>

<div style="width: 500px">
	<div *ngIf="currentFileUpload" class="progress">
		<div class="progress-bar progress-bar-info progress-bar-striped"
			role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
			aria-valuemin="0" aria-valuemax="100"
			[ngStyle]="{width:progress.percentage+'%'}">
			{{progress.percentage}}%</div>
	</div>
</div>
	<label class="btn btn-default"> <input type="file"
		(change)="selectFile($event)">
	</label>

	<!-- 
<button class="btn btn-success" [disabled]="!selectedFiles"
	(click)="upload()">Upload</button>
 -->

	<div style="padding-top: 10px">
		<button type="button" name="submitBtn" (click)="onSubmit();">Submit</button>
	</div>

</form>