<form class="form-horizontal" [formGroup]="uploadForm">
	<mat-tab-group [(selectedIndex)]="selectedIndex"> <mat-tab
		label="Tab 1">
	<table>
		<tr>
			<td>Test Case Name</td>
			<td><input type="text" formControlName="testCase" /></td>
		</tr>

		<tr>
			<td>Template Name</td>
			<td><select formControlName="template" name="template">
					<option selected="" value="">Select One</option>
					<option [ngValue]="template" *ngFor="let template of templateList">{{template}}</option>
			</select></td>
		</tr>
		<tr>
			<td>Upload Test File</td>
			<td><label class="btn btn-default"> <input type="file"
					accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
					(change)="selectFile($event)">
			</label></td>
		</tr>

		<!-- 	<tr [hidden]="!currentFileUpload">
			<td colspan="2"><div style="width: 500px">
					<div *ngIf="currentFileUpload" class="progress">
						<div
							class="progress-bar progress-bar-info progress-bar-striped progress-bar-wte"
							role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
							aria-valuemin="0" aria-valuemax="100"
							[ngStyle]="{width:progress.percentage+'%'}">
							{{progress.percentage}}%</div>
					</div>
				</div></td>
		</tr>
 -->
		<tr>
			<td colspan="2">
				<!-- <button type="button" name="submitBtn" (click)="onSubmit();">Submit</button>  -->
				<button type="button" name="submitBtn"
					(click)="getDummyStatus(event, true);">Submit</button>
			</td>
		</tr>

	</table>

	</mat-tab> <mat-tab label="Tab 2">
	<table>
		<tr>
			<th>Process</th>
			<th>Status</th>
		</tr>
		<tr>
			<td>File Upload</td>
			<td><mat-icon
					*ngIf="processStatus && processStatus.fileUpload == 'success'">check</mat-icon>
				<mat-icon
					*ngIf="processStatus && processStatus.fileUpload == 'error'">error</mat-icon>
				<div style="width: 500px">
					<div *ngIf="processStatus && processStatus.fileUpload == ''"
						class="progress">
						<div
							class="progress-bar progress-bar-info progress-bar-striped progress-bar-wte"
							role="progressbar"
							attr.aria-valuenow="{{processProgress.fileUpload}}"
							aria-valuemin="0" aria-valuemax="100"
							[ngStyle]="{width:processProgress.fileUpload+'%'}">
							{{processProgress.fileUpload}}%</div>
					</div>
				</div></td>
		</tr>

		<tr>
			<td>File Generation</td>
			<td><mat-icon
					*ngIf="processStatus && processStatus.fileGeneration == 'success'">check</mat-icon>
				<mat-icon
					*ngIf="processStatus && processStatus.fileGeneration == 'error'">error</mat-icon>
					<a *ngIf="processStatus && processStatus.fileGeneration == 'success'" href='#'>Download file</a>
				<div style="width: 500px">
					<div *ngIf="processStatus && processStatus.fileGeneration == ''"
						class="progress">
						<div
							class="progress-bar progress-bar-info progress-bar-striped progress-bar-wte"
							role="progressbar"
							attr.aria-valuenow="{{processProgress.fileGeneration}}"
							aria-valuemin="0" aria-valuemax="100"
							[ngStyle]="{width:processProgress.fileGeneration+'%'}">
							{{processProgress.fileGeneration}}%</div>
					</div>
				</div> 
				</td>
				<td><!-- <a *ngIf="downloadLink" href='{{downloadLink}}'>Download
					file</a>  -->
					 
					 </td>
		</tr>

		<tr>
			<td>File Copy</td>
			<td><mat-icon
					*ngIf="processStatus && processStatus.fileCopy == 'success'">check</mat-icon>
				<mat-icon *ngIf="processStatus && processStatus.fileCopy == 'error'">error</mat-icon>
				<div style="width: 500px">
					<div *ngIf="processStatus && processStatus.fileCopy == ''"
						class="progress">
						<div
							class="progress-bar progress-bar-info progress-bar-striped progress-bar-wte"
							role="progressbar"
							attr.aria-valuenow="{{processProgress.fileCopy}}"
							aria-valuemin="0" aria-valuemax="100"
							[ngStyle]="{width:processProgress.fileCopy+'%'}">
							{{processProgress.fileCopy}}%</div>
					</div>
				</div></td>
		</tr>

		<tr>
			<td>Process 1</td>
			<td><mat-icon
					*ngIf="processStatus && processStatus.process1 == 'success'">check</mat-icon>
				<mat-icon *ngIf="processStatus && processStatus.process1 == 'error'">error</mat-icon>
				<div style="width: 500px">
					<div *ngIf="processStatus && processStatus.process1 == ''"
						class="progress">
						<div
							class="progress-bar progress-bar-info progress-bar-striped progress-bar-wte"
							role="progressbar"
							attr.aria-valuenow="{{processProgress.process1}}"
							aria-valuemin="0" aria-valuemax="100"
							[ngStyle]="{width:processProgress.process1+'%'}">
							{{processProgress.process1}}%</div>
					</div>
				</div></td>
		</tr>

		<tr>
			<td>Process 2</td>
			<td><mat-icon
					*ngIf="processStatus && processStatus.process2 == 'success'">check</mat-icon>
				<mat-icon *ngIf="processStatus && processStatus.process2 == 'error'">error</mat-icon>
				<div style="width: 500px">
					<div *ngIf="processStatus && processStatus.process2 == ''"
						class="progress">
						<div
							class="progress-bar progress-bar-info progress-bar-striped progress-bar-wte"
							role="progressbar"
							attr.aria-valuenow="{{processProgress.process2}}"
							aria-valuemin="0" aria-valuemax="100"
							[ngStyle]="{width:processProgress.process2+'%'}">
							{{processProgress.process2}}%</div>
					</div>
				</div></td>
		</tr>

		<tr>
			<td>Process 3</td>
			<td><mat-icon
					*ngIf="processStatus && processStatus.process3 == 'success'">check</mat-icon>
				<mat-icon *ngIf="processStatus && processStatus.process3 == 'error'">error</mat-icon>
				<div style="width: 500px">
					<div *ngIf="processStatus && processStatus.process3 == ''"
						class="progress">
						<div
							class="progress-bar progress-bar-info progress-bar-striped progress-bar-wte"
							role="progressbar"
							attr.aria-valuenow="{{processProgress.process3}}"
							aria-valuemin="0" aria-valuemax="100"
							[ngStyle]="{width:processProgress.process3+'%'}">
							{{processProgress.process3}}%</div>
					</div>
				</div></td>
		</tr>

		<tr>
			<td><a *ngIf="downloadLink" href='{{downloadLink}}'>Download
					file</a></td>
		</tr>
	</table>
	</mat-tab> </mat-tab-group>
</form>