/* You can add global styles to this file, and also import other style files */

body {
	background-color: #399eef;
	color: white;
}

.progress-bar-wte {
	background-color: white !important;
	color: black;
	background-image: linear-gradient(45deg, rgba(63, 131, 191, .15) 25%,
		transparent 25%, transparent 50%, rgba(63, 131, 191, .15) 50%,
		rgba(63, 131, 191, .15) 75%, transparent 75%, transparent);
}

td{
	padding: 10px;
}


tr {
	padding: 10px;
	height: 50px;
}

a {
	color: white;
}

.btn {
	padding: 0px !important;
}

.fa-check {
  color: green;
}

.fa-close {
  color: red;
}

.fa-download {
  color: olive;
}